<p id="notice"><%= notice %></p>

	<div class="list">
    <% @contacts.each do |contact| %>

        <%= contact.first_name %>
        <%= contact.last_name %>
				<%= contact.email %>
        <%= contact.phone_number %>
        <%= link_to 'Edit', edit_contact_path(contact) %>
        <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>
	</div>


<br>

